<footer>
  <div class="topFooter">
    <div class="tpIntro">
      <p id="topper">
        Nails & <br />
        <span>Hammer</span>
      </p>
      <p id="location">F17FB Close 56, Victoria Garden City</p>
    </div>
    <div class="link_container">
      <p class="linkHeader">Products</p>
      <div class="lcLinks">
        <a href="#" class="lclink">Categories</a>
        <a href="#" class="lclink">Products</a>
        <a href="#" class="lclink">Pricing</a>
        <a href="#" class="lclink">Discount</a>
      </div>
    </div>
    <div class="link_container">
      <p class="linkHeader">About Us</p>
      <div class="lcLinks">
        <a href="#" class="lclink">Our Story</a>
        <a href="#" class="lclink">Designers</a>
        <a href="#" class="lclink">Craftsmanship</a>
        <a href="#" class="lclink">Guaranty</a>
      </div>
    </div>
    <div class="link_container">
      <p class="linkHeader">Explore</p>
      <div class="lcLinks">
        <a href="#" class="lclink">Customers</a>
        <a href="#" class="lclink">Privacy</a>
        <a href="#" class="lclink">FAQs</a>
      </div>
    </div>
    <div class="link_container">
      <p class="linkHeader">Contact</p>
      <div class="lcLinks">
        <a href="#" class="lclink">
          <img src="../../../assets/Images/call_icon.svg" alt="" />
          (234) 9079999579
        </a>
        <a href="#" class="lclink">
          <img src="../../../assets/Images/mail_icon.svg" alt="" />
          Hello@nailsandhammer.com
        </a>
      </div>
    </div>
  </div>
  <div class="bottomFooter">
    <div class="social_links">
      <a href="#">
        <img src="../../../assets/Icons/facebook.svg" alt="" />
      </a>
      <a href="#">
        <img src="../../../assets/Icons/twitter.svg" alt="" />
      </a>
      <a href="#">
        <img src="../../../assets/Icons/instagram.svg" alt="" />
      </a>
      <a href="#">
        <img src="../../../assets/Icons/linkedIn.svg" alt="" />
      </a>
    </div>
    <p>&copy; by Faithfulness. All rights reserved</p>
  </div>
</footer>
