<div class="gallery_hero">
  <app-navbar></app-navbar>
  <div class="gh_text">
    <h1>Gallery <sup>(36)</sup></h1>
    <p>
      Make your home a great place for your comfort, <br />
      relaxation, and beauty
    </p>
  </div>
</div>
<div class="gallery_main">
  <div class="sort_tab">
    <div class="tab-row">
      <a class="tab_link"
        >Products <img src="../../assets/Icons/carat_down.svg" alt=""
      /></a>
      <a class="tab_link"
        >Colour <img src="../../assets/Icons/carat_down.svg" alt=""
      /></a>
      <a class="tab_link"
        >Size <img src="../../assets/Icons/carat_down.svg" alt=""
      /></a>
      <a class="tab_link"
        >Price <img src="../../assets/Icons/carat_down.svg" alt=""
      /></a>
    </div>
    <a class="tab_link"
      >Sort <img src="../../assets/Icons/carat_down.svg" alt=""
    /></a>
  </div>
  <div class="galleryContent">
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img src="https://i.ibb.co/QkspFcs/image-one.png" alt="" class="pd_img" />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img src="https://i.ibb.co/f9gm75R/image-two.png" alt="" class="pd_img" />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="https://i.ibb.co/1q7d1Mp/image-three.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img src="https://i.ibb.co/85SGyvx/image-24.png" alt="" class="pd_img" />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <!-- second row -->
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="https://i.ibb.co/J5QMhxt/image-five.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img src="https://i.ibb.co/Yp38wjW/image-six.png" alt="" class="pd_img" />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="https://i.ibb.co/smyvgQw/image-seven.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="https://i.ibb.co/c8DKxyf/image-eight.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <!-- third row -->
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="https://i.ibb.co/bWBvxGQ/image-nine.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img src="https://i.ibb.co/d71CVKH/image-ten.png" alt="" class="pd_img" />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="https://i.ibb.co/5Why037/image-eleven.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="https://i.ibb.co/kB8hk3q/image-twelve.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
  <div class="backToTop">
    <a href="#" class="tab_link"
      >Back to top <img src="../../assets/Icons/carat_up.svg" alt=""
    /></a>
  </div>
</div>
<app-footer></app-footer>
