<section class="bestSellers">
  <h2>Best Sellers</h2>
  <div class="tab_switcher">
    <a>Chairs</a>
    <a>Tables</a>
    <a>Shelf</a>
    <a>Dinning</a>
    <a>Sitting Room</a>
  </div>
  <div class="catalogue_grid bestSellers_grid">
    <div class="cg_box">
      <p class="pd_name">Olive Single Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="../../../assets/Images/Product images/chair_one.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Cushion Chair</p>
      <p class="pd_price">$100</p>
      <img
        src="../../../assets/Images/Product images/chair_two.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Braided Chair</p>
      <p class="pd_price">$350</p>
      <img
        src="../../../assets/Images/Product images/chair_three.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="cg_box">
      <p class="pd_name">Matisse Chair</p>
      <p class="pd_price">$50</p>
      <img
        src="../../../assets/Images/Product images/chair_four.png"
        alt=""
        class="pd_img"
      />
      <div class="cg_buttom">
        <div class="color_options">
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
          <div class="color_indicator"></div>
        </div>
        <a class="cart_logo"
          ><img src="../../../assets/Icons/bag_outline_fill.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
