<main>
  <section class="heroSection">
    <app-navbar></app-navbar>
    <div id="hero">
      <div class="text_sect">
        <h1>Sweet and Comfy is home</h1>
        <img src="../../assets/Images/hero_text_line.svg" alt="" />
        <p>
          We know how to make you feel at home, get a piece from us today and
          enjoy the comfort we bring to your home.
        </p>
        <a href="#" class="cta">Explore Gallery</a>
      </div>
      <div class="img_sect">
        <img src="../../assets/Images/hero_img.png" alt="" />
        <div class="product_box hero_hpb">
          <img
            class="hp_img"
            src="../../assets/Images/small_hero_image.png"
            alt=""
          />
          <div class="hpbContent">
            <p class="title">2 &times; 2 Sofa</p>
            <p class="category">Sofa</p>
            <div class="last_row">
              <div id="color_boxes">
                <div class="color_indicator"></div>
                <div class="color_indicator"></div>
                <div class="color_indicator"></div>
              </div>
              <p class="price">$20.99</p>
              <a href="#">
                <img
                  class="cart_logo"
                  src="../../assets/Icons/bag_outline_fill.svg"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="socialProof">
    <h2 class="spTop">Trusted by 50+ Companies</h2>
    <div class="spBrands">
      <img src="../../assets/Images/spBrandOne.svg" alt="" />
      <img src="../../assets/Images/spBrandTwo.svg" alt="" />
      <img src="../../assets/Images/spBrandThree.svg" alt="" />
      <img src="../../assets/Images/spBrandFour.svg" alt="" />
    </div>
  </div>
  <section class="convincer">
    <div class="top_con">
      <div class="textSection">
        <h1>Cushion Chair</h1>
        <p>
          Great ergonomics, the single seat is a great furniture to have in your
          workspace. Get a piece of your choice from our store today.
        </p>
        <a href="#" class="cta_btn_style"
          >Shop Now <img src="../../assets/Images/arrow-right.svg" alt=""
        /></a>
      </div>
      <div class="imgSection">
        <img
          src="../../assets/Images/Product images/cushion_chair.png"
          alt=""
          class="product_image"
        />
        <div class="product_box top_con_pb">
          <img
            class="hp_img"
            src="../../assets/Images/small_hero_image.png"
            alt=""
          />
          <div class="hpbContent">
            <p class="title">2 &times; 2 Sofa</p>
            <p class="category">Sofa</p>
            <div class="last_row">
              <div id="color_boxes">
                <div class="color_indicator"></div>
                <div class="color_indicator"></div>
                <div class="color_indicator"></div>
              </div>
              <p class="price">$20.99</p>
              <a href="#">
                <img
                  class="cart_logo"
                  src="../../assets/Icons/bag_outline_fill.svg"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btm_con">
      <div class="imgSection">
        <img
          src="../../assets/Images/Product images/multi_layer_shelf.png"
          alt=""
          class="product_image"
        />
      </div>
      <div class="textSection">
        <h1>Multi layer Shelf</h1>
        <p>
          A great side piece for your offices, work space and sitting room. This
          affordable and durable shelf allows you to add more layers as you
          would like.
        </p>
        <a href="#" class="cta_btn_style"
          >Shop Now <img src="../../assets/Images/arrow-right.svg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <app-best-seller></app-best-seller>
</main>
