main {
  position: relative;
  // overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  .heroSection {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url("../../assets/Images/hero_background.png");
    background-repeat: no-repeat;
    background-size: 75% 100%;
    background-position: 150% top;
    #hero {
      width: 90%;
      height: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 35% auto;
      justify-content: center;
      align-items: center;
      position: relative;
      .text_sect {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-weight: medium;
          font-size: 54px;
          line-height: 120%;
          width: 90%;
        }
        img {
          width: 60%;
          margin: 8px 5% 24px;
        }
        hr {
          height: 2px;
        }
        p {
          width: 80%;
        }
        .cta {
          text-decoration: none;
          margin: 24px 0px 0px 0px;
          padding: 12px 16px;
          color: #fff;
          width: fit-content;
          background-color: #1f443a;
          position: relative;
        }
        .cta::after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: none;
          border: 1px solid #dfe4e3;
          position: absolute;
          z-index: -1;
          left: 5%;
          top: 20%;
        }
      }
      .img_sect {
        position: relative;
        align-self: flex-end;
        img {
          width: 120%;
        }
        .hero_hpb {
          top: -10%;
          left: 35%;
        }
      }
    }
  }
  // Social Proof
  .socialProof {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    .spTop {
      font-size: 32px;
      font-weight: bold;
    }
    .spBrands {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0px;
    }
  }
  // Convincer section
  .convincer {
    width: 100%;
    margin: 2.5rem auto;
    .top_con {
      display: grid;
      grid-template-columns: 40% 1fr;
      height: 85vh;
      width: 90%;
      margin: 0 auto;
      .textSection {
        align-self: center;
        width: 80%;
        h1 {
          font-size: 32px;
          color: #1f443a;
        }
        p {
          margin: 2rem 0px !important;
          width: 110%;
          font-size: 18px;
        }
        a {
          img {
            margin: 0px 8px;
            width: 24px;
            height: 24px;
          }
        }
      }
      .imgSection {
        position: relative;
        background-image: url(../../assets/Images/convincer_top_background.png);
        background-size: 75% 100%;
        background-repeat: no-repeat;
        background-position: 100% top;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .product_image {
          width: 55%;
          margin-right: 5rem;
        }
        .top_con_pb {
          top: 30%;
          left: 40%;
        }
      }
    }
    .btm_con {
      display: grid;
      grid-template-columns: 1fr 45%;
      height: 85vh;
      .textSection {
        align-self: center;
        width: 80%;
        h1 {
          font-size: 32px;
          color: #1f443a;
        }
        p {
          margin: 2rem 0px !important;
          width: 90%;
          font-size: 18px;
        }
        a {
          img {
            margin: 0px 8px;
            width: 24px;
            height: 24px;
          }
        }
      }
      .imgSection {
        position: relative;
        background-image: url(../../assets/Images/convincer_bottom_background.png);
        background-size: 80% 100%;
        background-repeat: no-repeat;
        background-position: -30% top;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .product_image {
          width: 32.5%;
          margin-right: 10rem;
          height: auto;
        }
        .top_con_pb {
          top: 30%;
          left: 40%;
        }
      }
    }
  }
}
