<main>
  <section class="heroSection">
    <app-navbar></app-navbar>
    <div id="hero">
      <div class="text_sect">
        <h1>Sweet and Comfy is home</h1>
        <img src="../../assets/Images/hero_text_line.svg" alt="" />
        <p>
          We know how to make you feel at home, get a piece from us today and
          enjoy the comfort we bring to your home.
        </p>
        <a href="#" class="cta">Explore Gallery</a>
      </div>
      <div class="img_sect">
        <img src="../../assets/Images/hero_img.png" alt="" />
        <div class="hero_product_box">
          <img
            class="hp_img"
            src="../../assets/Images/small_hero_image.png"
            alt=""
          />
          <div class="hpbContent">
            <p class="title">2 &times; 2 Sofa</p>
            <p class="category">Sofa</p>
            <div class="last_row">
              <div id="color_boxes">
                <div class="color_indicator"></div>
                <div class="color_indicator"></div>
                <div class="color_indicator"></div>
              </div>
              <p class="price">$20.99</p>
              <a href="#">
                <img
                  class="cart_logo"
                  src="../../assets/Icons/bag_outline_fill.svg"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
